*~
*.o
*.l[ao]
*.so
*.a
*.s
*.xml
*_ovm*.c
*.tab.[ch]
*.yy.c
.libs
html
latex
ctype.c
datetime_test.c
dns_test.c
http.c
lib.c
math_test.c
oovm
oovm_hash
ovmc1
perf2.c
process_test.c
regexp_test.c
socket_test.c
test2.c
thread_test.c
xml.c
